html
  head
    title Chat App
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    div(id="react-app") !{reactApp}
    script(type="text/javascript" src="/javascripts/index.js")
    script(type="text/javascript" src="/javascripts/vendor.js")
